.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.dashboard-card-content {
  text-align: center;
}

.dashboard-card-content dx-chart {
  height: 250px;
}

.dashboard-card-content dx-pie-chart {
  height: 250px;
}
